requests==2.31.0
mail-parser==3.15.0
html2text==2024.2.26
# pypi talon to be replaced - last update 2017
talon==1.4.4
# forked talon - scikit version does not match training data
# git+https://github.com/PiotrIw/talon.git@master
ipdb==0.13.13
sentry-sdk==1.43.0
