asttokens==2.4.1
certifi==2024.2.2
charset-normalizer==3.3.2
cssselect==1.2.0
decorator==5.1.1
exceptiongroup==1.2.0
executing==2.0.1
html2text==2024.2.26
html5lib==1.1
idna==3.7
ipdb==0.13.13
ipython==8.23.0
jedi==0.19.1
lxml==5.2.1
mail-parser==3.15.0
matplotlib-inline==0.1.6
parso==0.8.4
pexpect==4.9.0
prompt-toolkit==3.0.43
ptyprocess==0.7.0
pure-eval==0.2.2
Pygments==2.17.2
regex==2023.12.25
requests==2.31.0
sentry-sdk==1.43.0
simplejson==3.19.2
six==1.16.0
stack-data==0.6.3
tomli==2.0.1
traitlets==5.14.2
typing_extensions==4.11.0
urllib3==2.2.1
wcwidth==0.2.13
webencodings==0.5.1
