---
name: Code linters - pre-commit checks

on:
  push:
    branches:
      - master
      - dev
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Run pre-commit hooks
        uses: pre-commit/action@v3.0.1
